/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* TABLE */
.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-heading {
  display: table-header-group;
  background-color: #ddd;
}

.table-cell, .table-head {
  display: table-cell;
  padding: 3px 10px;
  border: 1px solid #eee;
}

.table-heading {
  display: table-header-group;
  background-color: #ddd;
  font-weight: bold;
}

.table-foot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}

.table-body {
  display: table-row-group;
}
