<p>Query</p>

<div ng-controller="cardController">
  <form novalidate class="card-query">
    <table>
      <div ng-class="tr">
        <div ng-class="td">Name:</div>
        <div ng-class="td"><input type="text" ng-model="data.name"></div>
        <div ng-class="td">Language:</div>
        <div ng-class="td"><input type="text" ng-model="data.lang"></div>
      </div>
      <div ng-class="tr">
        <div ng-class="td">Type:</div>
        <div ng-class="td">
          <select name="type" ng-model="data.type">
            <option value="MINION">Minion</option>
            <option value="SPELL">Spell</option>
            <option value="WEAPON">Weapon</option>
            <option value="HERO">Hero</option>
            <option value="HERO_POWER">Hero power</option>
            <option value="ENCHANTMENT">Enchantment</option>
          </select>
        </div>
      </div>
      <div ng-class="tr">
        <div ng-class="td">Format:</div>
        <div ng-class="td">
          <select name="format" ng-model="data.format">
            <option value="wild">Wild</option>
            <option value="standard">Standard</option>
            <option value="out">Out of Standard</option>
          </select>
        </div>
        <div ng-class="td">Set:</div>
        <div ng-class="td">
          <select name="set" ng-model="data.set">
            <optgroup label="Core">
              <option value="CORE">Basic</option>
              <option value="EXPERT1">Classic</option>
            </optgroup>
            <optgroup label="Expansions">
              <option value="GVG">Gnomes vs. Goblins</option>
              <option value="TGT">The Grand Tournament</option>
              <option value="OG">Whispers of the Old Gods</option>
            </optgroup>
            <optgroup label="Adventures">
              <option value="NAXX">Naxxramas</option>
              <option value="BRM">Blackrock Mountain</option>
              <option value="LOE">League of Explorers</option>
            </optgroup>
            <optgroup label="Special">
              <option value="CHEAT">Cheat</option>
              <option value="CREDITS">Credits</option>
              <option value="HERO_SKINS">Hero Skins</option>
              <option value="MISSIONS">Missions</option>
              <option value="PROMO">Promo</option>
              <option value="REWARD">Reward</option>
              <option value="TB">Tavern Brawl</option>
            </optgroup>
          </select>
        </div>
      </div>
      <div ng-class="tr">
        <div ng-class="td">Only collectible:
        <div ng-class="td"><input type="checkbox" checked ng-model="data.collectible" /></div>
      </div>
      <div ng-class="tr" bgcolor="red">
        <div ng-class="td">Cost:</div>
        <div ng-class="td" colspan="2">
          <select ng-model="data.cost.mode" ng-init="data.cost.mode = 'exact'">
            <option value="exact">Exact value</option>
            <option value="range">Range</option>
          </select>
        </div>
        <div ng-class="td">
          <span ng-if="data.cost.mode == 'exact'"><input type="number" ng-model="data.cost.value"></span>
          <span ng-if="data.cost.mode == 'range'"><input type="number" ng-model="data.cost.min">-<input type="number" ng-model="data.cost.max"></span>
        </div>
      </div>
      <div ng-class="tr" ng-if="data.type == 'MINION'">
        <div ng-class="td">Attack:</div>
        <div ng-class="td" colspan="2">
          <select ng-model="data.attack.mode" ng-init="data.attack.mode = 'exact'">
            <option value="exact">Exact value</option>
            <option value="range">Range</option>
          </select>
        </div>
        <div ng-class="td">
          <span ng-if="data.attack.mode == 'exact'"><input type="number" ng-model="data.attack.value"></span>
          <span ng-if="data.attack.mode == 'range'"><input type="number" ng-model="data.attack.min">-<input type="number" ng-model="data.attack.max"></span>
        </div>
      </div>
      <div ng-class="tr">
        <div ng-class="td">Health:</div>
        <div ng-class="td" colspan="2">
          <select ng-model="data.health.mode" ng-init="data.health.mode = 'exact'">
            <option value="exact">Exact value</option>
            <option value="range">Range</option>
          </select>
        </div>
        <div ng-class="td">
          <span ng-if="data.health.mode == 'exact'"><input type="number" ng-model="data.health.value"></span>
          <span ng-if="data.health.mode == 'range'"><input type="number" ng-model="data.health.min">-<input type="number" ng-model="data.health.max"></span>
        </div>
      </div>
      <div ng-class="tr" ng-if="data.type == 'WEAPON'">
        <div ng-class="td">Durability:</div>
        <div ng-class="td" colspan="2">
          <select ng-model="data.durability.mode" ng-init="data.durability.mode = 'exact'">
            <option value="exact">Exact value</option>
            <option value="range">Range</option>
          </select>
        </div>
        <div ng-class="td">
          <span ng-if="data.durability.mode == 'exact'"><input type="number" ng-model="data.durability.value"></span>
          <span ng-if="data.durability.mode == 'range'"><input type="number" ng-model="data.durability.min">-<input type="number" ng-model="data.durability.max"></span>
        </div>
      </div>
      <div ng-class="tr">
        <div ng-class="td"><input type="reset" ng-click="reset()" value="Reset" /></div>
        <div ng-class="td"><input type="submit" ng-click="submit(data)" value="Submit" /></div>
      </div>
    </table>
  </form>
  <!--<pre>query = {{query | json}}</pre>-->
  
  <div ng-if="showCards">
    <div ng-repeat="card in cards | filter: cardFilter | limitTo: 20">
      <card cardinfo="card" lang="esES"></card>
      <pre>{{card | json}}</pre>
    </div>
  </div>
</div>